[project]
	description = LaTeX homework template
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tin Lam (stannum-l)
[access "refs/for/refs/*"]
	read = group user/Tin Lam (stannum-l)
	push = group user/Tin Lam (stannum-l)
	label-Code-Review = -2..+2 group user/Tin Lam (stannum-l)
	label-Verified = -1..+1 group user/Tin Lam (stannum-l)
	rebase = group user/Tin Lam (stannum-l)
	removeReviewer = group user/Tin Lam (stannum-l)
	submit = group user/Tin Lam (stannum-l)
[access "refs/heads/*"]
	read = group user/Tin Lam (stannum-l)
	create = group user/Tin Lam (stannum-l)
	push = +force group user/Tin Lam (stannum-l)
	pushMerge = group user/Tin Lam (stannum-l)
	label-Workflow = -1..+1 group user/Tin Lam (stannum-l)
[access "refs/tags/*"]
	push = group user/Tin Lam (stannum-l)
	push = +force group user/Tin Lam (stannum-l)
[label "Workflow"]
      value = -1 Work in progress
      value =  0 Ready for review
      value = +1 Approved
      defaultValue = 0
